td{
    text-align: center;
    border-top: 2px solid black;
    padding: 10px;
    }
    
    
    .colhead{
      color: #FFFFFF;
      min-width: 125px;
      padding: 10px;
      background-color: #7e0825;
      text-transform: uppercase;
    }
    
    .rowhead{
      border-right: 2px solid black;
      border-top: 2px solid black;
    }
    
    
    table{
        border: 5px solid #000000;
        position: sticky;
        border-radius: 50px;
        margin-left: auto;
        margin-right: auto;
    }